WebContent/WEB-INF/xsd/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by BBC DMI (BBC) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:attribute name="date" type="xs:date"/>
	<xs:attribute name="name" type="xs:string"/>
	<xs:element name="milestone">
		<xs:complexType mixed="true">
			<xs:attribute ref="date" use="required"/>
			<xs:attribute name="type"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="source" type="xs:string"/>
	<xs:element name="notes" type="xs:string"/>
</xs:schema>
